* {
    font-family: "Verdana","DejaVu Sans", sans-serif;
    color: white;
    background-color: rgb(20, 20, 20);
}

body {
    padding: 70px;
    padding-top: 5px;
    padding-right: 5px;
}

p {
    font-size: larger;
}

img {
    height: 225px;
    width: 300px;
    margin-top: 20px;
    border: 3px solid grey;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 120);
}

li {
    font-size: larger;
}

.heading {
    text-align: center;
    font-size: 40px;
}

.heading.main {
    padding-top: 20px;
}

.page.text {
    margin-top: 40px;
    padding-right: 70px;
    font-size: 22px;
}

.ltext {
    margin-top: 40px;
    width: 725px;
}

.info {
    display: flex;
}

.info div {
    margin-left: 70px;
    width: 350px;
}

.container {
    display:flex;
    gap: 100px;
    align-items: flex-start;
}

.container .sidebar {
    margin-left: 75px;
    margin-top: 50px;
    font-size: larger;
    padding-inline: 50px;
    padding-block: 25px;
    border-left: 2px solid grey;
}

.container .sidebar a {
    display: block;
}

#homelink {
    margin-bottom: 20px;
}