* {
    font-family: "Verdana","DejaVu Sans", sans-serif;
}

p {
    font-size: larger;
}

img {
    height: 225px;
    width: 300px;
    margin-top: 20px;
    border: 3px solid grey;
}

body {
    background-color: black;
    padding: 70px;
    padding-top: 5px;
    color: white;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 900;
}

li {
    font-size: larger;
}

.heading {
    text-align: center;
    font-size: 40px;
}

.heading.main {
    padding-top: 20px;
}

.page.text {
    font-size: 22px;
}

.ltext {
    margin-top: 40px;
    width: 725px;
}

.info {
    display: flex;
}

.info div {
    margin-left: 70px;
    width: 350px;
}