* {
    font-family: "Verdana","DejaVu Sans", sans-serif;
}

p {
    font-size: larger;
}

img {
    height: auto;
    width: 300px;
}

body {
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.page {
    padding: 70px;
    padding-top: 5px;
}


.heading {
    text-align: center;
    font-size: 40px;
}

.heading.main {
    padding-top: 20px;
    font-size: 50px;
}

.page.text {
    font-size: 22px;
}

.ltext {
    font-size: larger;
}